name: 'Tests'

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build
      - name: Run lint
        run: pnpm lint
  test:
    name: 'test_front'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build
      - name: Run test
        run: pnpm test
  e2e:
    timeout-minutes: 15
    name: 'e2e tests'
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build
      - name: 'Create Database and Seed'
        run: pnpm migrate && pnpm prisma generate --sql
        env:
          DATABASE_URL: postgresql://postgres:postgres@localhost:5432/annostamps
          DIRECT_URL: postgresql://postgres:postgres@localhost:5432/annostamps
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          build: pnpm build
          start: pnpm start
          browser: chrome
        env:
          DATABASE_URL: postgresql://postgres:postgres@localhost:5432/annostamps
          NEXTAUTH_URL: http://localhost:3000
          NEXTAUTH_SECRET: '54x5s+4mM6/yoJa/z4q57PElcT67/mPKkI2hgNX2Ht4='
          NEXT_PUBLIC_CLOUDFRONT_CDN: 'http://s3.localhost.localstack.cloud:4566/annostamps'
